<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd%22%3E
<hibernate-configuration>
   <session-factory>

      <property name = "hibernate.dialect">
        org.hibernate.dialect.PostgreSQLDialect
      </property>

      <property name = "hibernate.connection.driver_class">
         com.postgresql.jdbc.Driver // replace postgres
      </property>

      <!-- Assume test is the database name -->

      <property name = "hibernate.connection.url">
         jdbc:postgresql://localhost/Pharmacy
      </property>

      <property name = "hibernate.connection.username">
         user_pharmacy
      </property>

      <property name = "hibernate.connection.password">
         user
      </property>

      <property name="connection.url">jdbc:postgresql://localhost/Pharmacy?createDatabaseIfNotExist=true</property>

      <!-- List of XML mapping files -->
      <mapping resource = "article.hbm.xml"/>

   </session-factory>
</hibernate-configuration>